@tailwind base;
@tailwind components;
@tailwind utilities;



p h1 h2 h3 span{
    color: rgb(31, 41, 55);
}

@layer utilities {
    .animation-delay-2000 {
      animation-delay: 2s;
    }
    .animation-delay-4000 {
      animation-delay: 4s;
    }
  }